/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
} */
@font-face {
    font-family: "Eudoxus Sans";
    src: url("../fonts/Eudoxus-Sans-font/EudoxusSans-Bold.woff2") format("woff2"),
      url("../fonts/Eudoxus-Sans-font/EudoxusSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: "Eudoxus Sans";
    src: url("../fonts/Eudoxus-Sans-font/EudoxusSans-Regular.woff2")
        format("woff2"),
      url("../fonts/Eudoxus-Sans-font/EudoxusSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: "Eudoxus Sans";
    src: url("../fonts/Eudoxus-Sans-font/EudoxusSans-Light.woff2") format("woff2"),
      url("../fonts/Eudoxus-Sans-font/EudoxusSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: "Eudoxus Sans";
    src: url("../fonts/Eudoxus-Sans-font/EudoxusSans-ExtraBold.woff2")
        format("woff2"),
      url("../fonts/Eudoxus-Sans-font/EudoxusSans-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: "Eudoxus Sans";
    src: url("../fonts/Eudoxus-Sans-font/EudoxusSans-ExtraLight.woff2")
        format("woff2"),
      url("../fonts/Eudoxus-Sans-font/EudoxusSans-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: "Eudoxus Sans";
    src: url("https://uploads-ssl.webflow.com/6026bc921eff07d61a132750/60b2b236e1947af16d829f32_EudoxusSans-Bold.ttf")
        format("truetype"),
      url("https://uploads-ssl.webflow.com/6026bc921eff07d61a132750/60b2b236e1947af16d829f32_EudoxusSans-Bold.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: block;
  }
  * {
    font-family: "Eudoxus Sans";
  }
  b,
  strong {
    font-weight: 500;
  }
  /* Cancel the bg white for dark mode */
  body[data-theme-style="dark"].bg-white {
    background: #f9fbfe !important;
  }
  
  body {
    /* -webkit-font-smoothing: subpixel-antialiased; */
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px transparent;
    text-rendering: optimizeLegibility !important;
  }
  .modal-header {
    padding: 1rem;
    border-bottom: 0;
  }
  
  .modal-subheader {
    padding: 0 1rem;
    border-bottom: 0;
    margin: 0;
  }
  
  .modal-content {
    padding: 1rem;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  
  /* Forms */
  .input-group-text {
    font-size: 0.9rem;
  }
  
  /* Footer */
  .footer {
    padding: 4rem 0;
    font-size: 0.95rem;
    background: white;
  }
  
  .footer {
    /* color: rgba(255, 255, 255, 0.65); */
  }
  
  .footer a:not(.dropdown-item),
  .footer a:hover:not(.dropdown-item) {
    /* color: rgba(255, 255, 255, 0.65); */
  }
  
  .footer a.icon {
  /* color: rgba(255, 255, 255, 0.65); */
  }
  
  .footer-logo {
  width: 75px;
  max-width: 75px;
  height: auto;
  filter: grayscale(100%);
  }
  .footer-links-main strong {
  color: #9d9ba8;
  font-size: 1.1rem;
  }
  .footer-links-main a {
  margin: 10px 0;
  line-height: 10px;
  font-weight: 500;
  padding: 10px 0;
  font-size: 1rem;
  }
  /* Filters */
  .filters-dropdown {
  width: 18rem;
  }
  
  /* Custom breadcrumbs */
  .custom-breadcrumbs {
  list-style: none;
  padding: 0;
  display: flex;
  }
  
  .custom-breadcrumbs > li {
  margin-right: 0.5rem;
  }
  
  .custom-breadcrumbs > li > a {
  color: var(--gray);
  }
  
  .custom-breadcrumbs > li > svg {
  color: var(--gray-400);
  margin-left: 0.5rem;
  }
  
  .custom-breadcrumbs > li.active {
  }
  
  /* Helper classes */
  .list-style-none {
  list-style: none;
  padding: 0;
  }
  
  .clickable {
  cursor: pointer;
  }
  
  .no-underline,
  .no-underline:hover {
  text-decoration: none;
  }
  
  .icon-favicon {
  width: 1rem;
  height: 1rem;
  }
  
  /* Navbar custom menu */
  .navbar .dropdown-item svg {
  color: var(--gray-700);
  }
  
  .navbar .dropdown-item:active svg {
  color: var(--white);
  }
  
  .navbar-main {
  min-height: 0 !important;
  background: var(--white);
  border-bottom: 1px solid var(--gray-300);
  }
  
  [data-theme-style="dark"] .navbar-main {
  border-bottom: 1px solid var(--gray-100);
  }
  
  .navbar-absolute {
  position: absolute;
  width: 100%;
  margin: 0;
  z-index: 1;
  }
  
  .navbar-main .navbar-nav > li {
    padding: 0.5rem !important;
  }
  
  .navbar-logo {
    max-height: 2rem;
    height: 1.5rem;
  }
  
  .navbar-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .navbar-custom-toggler {
    padding: 0.5rem 0.8rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border-radius: 0.25rem;
  
    color: var(--gray-700);
    /* border-color: var(--gray-300); */
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.85);
  }
  
  .chart-container {
    position: relative;
    margin: auto;
    height: 250px;
    width: 100%;
  }
  
  /* Dropdown */
  .dropdown-toggle-simple::after {
    display: none;
  }
  
  /* Nav pills custom */
  .nav-custom .nav-link {
    font-size: 0.95rem;
    background: var(--white);
    border-radius: 0.25rem;
    border: 2px solid var(--gray-200);
    color: var(--gray-700);
  }
  
  .nav-custom .nav-link:hover {
    color: #fc5286;
    /*background: var(--primary-100);*/
    border-color: #fc5286;
  }
  
  .nav-custom .nav-link.active {
    color: #FF1451;
    border-color: #FF1451;
  }
  
  /* Index */
  .hero-icon {
    width: 100%;
    text-align: center;
  }
  .hero-img {
    width: 100%;
    text-align: center;
    margin-top: -200px;
  }
  .hero-img img {
    width: 500px;
    text-align: center;
  }
  .index-p-text {
    font-size: 1.2rem;
    text-align: center;
  }
  .index-container {
    width: 100%;
    height: 60rem;
    display: flex;
    padding-bottom: 15rem;
    align-items: center;
    background: url("../images/hero_image.svg") no-repeat center;
    /* background-repeat: no-repeat; */
    background-size: cover;
  }
  .breaker {
    width: 100%;
    border-bottom: 1px solid #e7e6ed;
  }
  .presentation-div {
    padding-right: 50px;
  }
  .presentation-div h2 {
    color: #000000;
    font-weight: bold;
    font-size: 2.2rem;
  }
  .presentation-div-p {
    color: #000000;
    font-size: 1.2rem;
  }
  .faq-question {
    width: 50%;
    margin: 0 auto;
    border: 1px solid rgba(29, 9, 107, 0.17);
    box-sizing: border-box;
    border-radius: 21px;
    padding: 5px 16px;
  }
  .faq-p {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 20px;
  }
  .index-social-links-div {
    width: 100%;
    text-align: center;
    /* padding:20px; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-links-main {
    padding: 20px 0;
  
    border-bottom: 1px solid #e7e6ed;
    border-top: 1px solid #e7e6ed;
    background-color: white;
  }
  .social-links {
    width: 50px;
    height: 50px;
    background-color: #ebf0fa;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    /* padding:10px; */
  }
  
  .social-links img {
    width: 25px;
    height: 25px;
  }
  h2 strong {
    font-weight: 900;
  }
  @media (min-width: 576px) {
  }
  
  @media (min-width: 768px) {
  }
  
  @media (min-width: 1200px) {
    /* .index-container {
          background-position: 60%, 100%, 100%, 75%;
          background-size: contain, 30rem, 45rem, contain;
          background-repeat: no-repeat;
      } */
  }
  
  .index-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: -5rem;
  }
  
  @media (min-width: 1375px) {
    .index-image {
      width: 115%;
      top: -8rem;
    }
  }
  
  .index-header {
    font-size: 3.8rem;
    font-weight: bold;
    text-align: center;
    padding: 0 18rem;
  }
  
  .index-subheader {
    font-size: 1.35rem;
    text-align: center;
  }
  .index-already-account {
    font-size: 1rem;
    text-align: center;
    color: #000000;
    padding: 16px 0;
  }
  .index-already-account a {
    color: #ff4566;
  }
  .hero-button {
    text-align: center;
  }
  .index-button {
    padding: 1rem 1.7rem;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 0.8rem 0 rgba(136, 152, 170, 0.15) !important;
    transition: all 0.3s ease-in-out;
  }
  
  /* Header container */
  .header {
    padding: 4rem 0 3rem 0;
    margin-bottom: 1rem;
  }
  
  .user-avatar {
    border-radius: 50%;
    max-width: 80px;
    max-height: 80px;
  }
  
  /* Link Settings page */
  .link-image-preview {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 0.1rem dashed var(--gray-400);
    padding: 0.5rem;
  }
  
  .link-background-type-preset {
    width: 100%;
    height: 8rem;
    border-radius: 0.25rem;
    opacity: 0.75;
    transition: 0.3s opacity;
  }
  
  .link-background-type-preset:hover {
    cursor: pointer;
  }
  
  input[type="radio"]:checked ~ .link-background-type-preset {
    opacity: 1;
  }
  
  .link-background-type-image {
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
  }
  
  /* Biolink preview iframe */
  .biolink-preview-container {
    /* width:90%; */
  }
  
  .biolink-preview {
    position: relative;
    margin: 0 auto;
    height: auto;
    width: auto;
    /* display: inline-block; */
    text-align: left;
    border-radius: 3rem;
    /* padding: .7rem; */
    /* background: linear-gradient(
  45deg
  ,#444,#64687D); */
    /* box-shadow: 0 0px 30px rgb(0 0 0 / 20%); */
    border: 0.9rem solid #64687d;
  }
  
  @media (min-width: 768px) {
    .biolink-preview-container-main {
      position: sticky;
      top: 0.5rem;
    }
  
  }
  
  .biolink-preview-iframe-container {
    overflow: hidden;
    width: 350px;
      height: 70vh;
  max-height:665px;
    border-radius: 2.5rem;
    position: relative;
  }
  /* 
  @media(max-width:1300px){
    .biolink-preview-iframe-container {
      width: 350px;
      height: 68vh;
    }
  }
  @media(max-width:1200px){
    .biolink-preview-iframe-container {
      width: 350px;
      height: 65vh;
    }
  }
  @media(max-width:1100px){
    .biolink-preview-iframe-container {
      width: 350px;
      height: 63vh;
    }
  }
  @media(max-width:1000px){
    .biolink-preview-iframe-container {
      width: 350px;
      height: 61vh;
    }
  } */
  /* 
  @media (min-width: 768px) {
    .biolink-preview-iframe-container {
      width: 375px;
          height: 825px;
      width: 350px;
      height: 70vh;
    }
  } */
  
  .biolink-preview-iframe {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /* Others */
  .trigger-type-select {
    max-width: 150px !important;
  }
  
  .container-disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  
  .container-disabled-simple {
    pointer-events: none;
  }
  
  /* Other animations */
  @keyframes slowbounce {
    from {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    to {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
  }
  
  /* Custom dropdown */
  .dropdown .dropdown-menu {
    border: 2px solid var(--gray-200);
    box-shadow: none;
  }
  
  .dropdown-divider {
    border-top: 2px solid var(--gray-200);
  }
  
  /* Animate dropdown menu */
  .dropdown .dropdown-menu {
    animation-name: opacityIn;
    animation-duration: 0.3s;
  }
  @keyframes opacityIn {
    from {
      opacity: 0.3;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Custom row */
  .custom-row {
    border-radius: 0.15rem;
    padding: 0.75rem;
    position: relative;
    /* border: 2px solid var(--gray-200); */
    background: var(--white);
  }
  
  [data-theme-style="dark"] .custom-row {
    border-color: var(--gray-100);
  }
  
  @media (min-width: 768px) {
    .custom-row {
      padding: 1rem;
    }
  }
  
  .custom-row-inactive {
    background: var(--gray-200);
  }
  
  .custom-row-side-controller {
    /* right: 100%;
      top: 25%; */
    font-size: 1.2em;
    padding: 0.2em 0.2em;
  }
  
  @media (min-width: 768px) {
  }
  
  @media (min-width: 992px) {
    .custom-row-side-controller {
      /* position: absolute; */
      padding: 0.4em 0.2em;
    }
  }
  
  .custom-row-side-controller-grab {
    cursor: grab;
  }
  
  /* Tables */
  .table-custom-container {
    /*box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;*/
    border-radius: 0.25rem;
    border: 2px solid var(--gray-200);
  }
  
  .table-custom {
    margin-bottom: 0;
  }
  
  .table-custom thead th {
    border-top: 0;
    border-bottom: 0;
    background: var(--gray-100);
    color: var(--gray-900);
  }
  
  .table-custom th {
    padding: 1.25rem 1rem;
  }
  
  .table-custom td {
    padding: 1.75rem 1rem;
    background: var(--white);
    vertical-align: middle;
  }
  
  .table-custom tbody tr {
    transition: all 0.3s ease-in-out;
  }
  
  .table-custom tbody tr:hover td {
    background: var(--gray-100);
  }
  
  /* Custom PRE container */
  .pre-custom {
    box-shadow: 0px 0px 20px #0000001a;
    background: white;
    padding: 2rem;
    font-size: 0.75rem;
  }
  
  /* Helpers */
  .appearance-none {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  .select-custom-altum {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%232D3748' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
      no-repeat right 0.75rem center/8px 10px;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    background-color: var(--gray-200);
  }
  
  [data-theme-style="dark"] .select-custom-altum {
    background-color: var(--gray-100);
  }
  
  /* Highlight color pickers */
  .pickr .pcr-button {
    border: 1px solid var(--gray-300);
  }
  
  /* Pricing */
  .pricing-container {
    width: 80vw;
    position: relative;
    left: calc(-40vw + 50%);
  }
  
  .pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto 3em;
  }
  
  .pricing-plan {
    display: flex;
    flex-direction: column;
    flex: 0 1 360px;
    border-radius: 0.5rem;
    margin: 0 1.5rem 1.5rem 1.5rem;
    overflow: hidden;
    border: 2px solid var(--gray-300);
  }
  
  .pricing-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.2rem 2.2rem 0 2.2rem;
    border-bottom: 1px solid var(--gray-200);
  }
  
  [data-theme-style="dark"] .pricing-header {
    border-color: var(--gray-100);
  }
  
  .pricing-name {
    background: var(--primary-200);
    padding: 0.15rem 1.25rem;
    color: var(--primary-600);
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5rem;
  }
  
  .pricing-price {
    margin: 1rem 0;
  }
  
  .pricing-price-amount {
    font-size: 3.3rem;
    font-weight: bold;
  }
  
  .pricing-price-currency {
    font-size: 0.9rem;
    color: var(--gray);
  }
  
  .pricing-details {
    text-align: center;
    font-size: 0.85rem;
    color: var(--primary-800);
    margin-bottom: 1.5rem;
  }
  
  .pricing-body {
    padding: 0 2.2rem 2.2rem 2.2rem;
    background: var(--white);
  }
  
  .pricing-features {
    margin: 3rem 0;
    list-style: none;
    padding: 0;
  }
  
  .pricing-features li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin: 1rem 0;
  }
  
  .pricing-button {
    font-weight: 600;
    font-size: 1.05rem;
    border-radius: 50rem;
  }
  
  /* Custom Radio Boxes */
  .custom-radio-box {
    cursor: pointer;
  }
  
  .custom-radio-box .custom-radio-box-main-text {
    font-size: 2.25rem;
  }
  
  .custom-radio-box .custom-radio-box-main-icon {
    font-size: 2.5rem;
  }
  
  .custom-radio-box input[type="radio"] + div {
    transition: all 0.3s ease-in-out;
    border: 2px solid var(--gray-200);
    background: var(--white);
  }
  
  .custom-radio-box input[type="radio"]:checked + div {
    border: 2px solid var(--primary);
  }
  
  /* Projects */
  .project-avatar {
    width: 45px;
    height: 45px;
  }
  
  /* Round circles */
  .round-circle-md {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  .round-circle-lg {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  /* Gradients */
  .bg-gradient-primary {
    background: linear-gradient(230deg, #759bff, #843cf6);
  }
  
  .bg-white{
    background: white;
  }
  
  .bg-gradient-secondary {
    background: linear-gradient(to right, #e7ebf0, #868e96);
  }
  
  .bg-gradient-success {
    background: linear-gradient(45deg, #7bffce, #30c93e);
  }
  
  .bg-gradient-info {
    background: linear-gradient(190deg, #64ddf1, #3c98f6);
  }
  
  .bg-gradient-warning {
    background: linear-gradient(135deg, #ffc480, #ff763b);
  }
  
  .bg-gradient-danger {
    background: linear-gradient(316deg, #fc5286, #fbaaa2);
  }
  
  .bg-gradient-light {
    background: linear-gradient(to right, #cfd9df 0%, #e2ebf0 100%);
  }
  
  .bg-gradient-dark {
    background: linear-gradient(to right, #7d7979 0%, #000000 100%);
  }
  
  /* Badge colors */
  .badge-primary {
    color: hsl(211, 100%, 35%);
    background-color: hsl(211, 100%, 85%);
  }
  
  [data-theme-style="dark"] .badge-primary {
    background-color: hsl(211, 100%, 35%);
    color: hsl(211, 100%, 85%);
  }
  
  .badge-secondary {
    color: hsl(208, 7%, 35%);
    background-color: hsl(208, 7%, 85%);
  }
  
  [data-theme-style="dark"] .badge-secondary {
    background-color: hsl(208, 7%, 35%);
    color: hsl(208, 7%, 85%);
  }
  
  .badge-success {
    color: hsla(134, 50%, 30%, 1);
    background-color: hsla(134, 50%, 85%, 1);
  }
  
  [data-theme-style="dark"] .badge-success {
    background-color: hsla(134, 50%, 30%, 1);
    color: hsla(134, 50%, 85%, 1);
  }
  
  .badge-danger {
    color: hsla(354, 70%, 35%, 1);
    background-color: hsla(354, 70%, 85%, 1);
  }
  
  [data-theme-style="dark"] .badge-danger {
    background-color: hsla(354, 70%, 35%, 1);
    color: hsla(354, 70%, 85%, 1);
  }
  
  .badge-warning {
    background-color: hsla(45, 100%, 85%, 1);
    color: hsla(40, 80%, 30%, 1);
  }
  
  [data-theme-style="dark"] .badge-warning {
    background-color: hsla(50, 10%, 20%, 1);
    color: hsla(45, 100%, 85%, 1);
  }
  
  .badge-info {
    color: hsla(188, 60%, 30%, 1);
    background-color: hsla(188, 78%, 85%, 1);
  }
  
  [data-theme-style="dark"] .badge-info {
    background-color: hsla(188, 60%, 30%, 1);
    color: hsla(188, 78%, 85%, 1);
  }
  
  .badge-light {
    color: hsla(210, 15%, 35%, 1);
    background-color: hsl(210, 17%, 95%);
  }
  
  [data-theme-style="dark"] .badge-light {
    background-color: hsla(210, 15%, 35%, 1);
    color: hsl(210, 17%, 95%);
  }
  
  .badge-dark {
    color: hsla(210, 10%, 90%, 1);
    background-color: hsla(210, 10%, 20%, 1);
  }
  
  [data-theme-style="dark"] .badge-dark {
    background-color: hsla(210, 10%, 90%, 1);
    color: hsla(210, 10%, 20%, 1);
  }
  
  /* Invoice css */
  .invoice-table th {
    border-top: 0 !important;
  }
  
  @media print {
    .invoice-logo {
      filter: grayscale(100%);
    }
  }
  
  .auth-half-bg {
    /* background: url('../images/auth.png') no-repeat center;
      background-position: bottom;
      background-size: contain; */
  }
  .flex-row {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-col {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .flex-col:first-child {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5rem 4rem;
  }
  .flex-col:first-child p {
    font-size: 1.5rem;
    color: white;
    flex-basis: 100%;
  }
  .flex-col:first-child p {
    margin: 20px 0;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    padding-right: 15rem;
  }
  .flex-col:last-child {
    padding-top: 5rem;
  }
  .flex-col:last-child .card {
    width: 80%;
    border-radius: 20px;
    /* flex-basis: 100%; */
  }
  .heading-h1 {
    font-weight: 600;
    text-align: center;
    margin: 2.5rem 0;
    font-size: 1.5rem !important;
  }
  .form-check-label {
    font-size: 14px;
  }
  .pricing-main {
    width: 100%;
  }
  .pricing-plan-div {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 36, 164, 0.1);
    box-sizing: border-box;
    border-radius: 30px;
    padding: 10px;
    padding-bottom: 40px;
  }
  .pricing-plan-div1 {
    background: #fff3f9;
  }
  .pricing-plan-div2 {
    background: #effaff;
  }
  .pricing-plan-indiv {
    text-align: center;
    padding: 22px 16px;
    border-bottom: 1px solid rgba(0, 36, 164, 0.1);
  }
  .pricing-plan-indiv strong {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
  }
  .pricing-plan-indiv span {
    font-size: 14px;
  }
  .opacity-0 {
    opacity: 0;
  }
  .pricing-plan-div0 {
    border: none;
  }
  .pricing-plan-div0 .pricing-plan-indiv {
    border: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    text-align: left;
    padding: 20px 16px;
  }
  .pricing-plan-div0 .pricing-plan-indiv span {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
  }
  .dashboard-btn {
    padding-right: 26px !important;
    padding-left: 26px !important;
  }
  .dashboard-heading {
    font-weight: 700;
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .card.border-rounded,
  .custom-row {
    border-radius: 10px !important;
  }
  .action-buttons {
    border-radius: 32px;
    padding: 16px 30px;
    font-weight: 800;
    border: 1px solid rgba(0, 36, 164, 0.1);
  }
  .nav-pill-actions-buttons-main {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .nav-pill-action-buttons {
    /* border-radius: 10px; */
    /* flex:1; */
    margin-right: 30px !important;
    text-align: center;
  }
  .nav-pill-action-buttons a {
    font-weight: 600;
    font-size: 18px;
    padding: 16px 2px 16px 2px;
    border-bottom: 3px solid white;
    float: left;
  }
  
  .nav-pill-action-buttons.active {
  }
  
  .nav-pill-action-buttons a.active {
    color: #ff4566;
    border-bottom: 3px solid #ff4566;
  }
  
  .nav-pill-action-buttons a:hover {
    text-decoration: none;
  }
  .border-right-separater {
    border-right: 2px solid #e7e6ed;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .rotate90 {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition: 0.2s all ease;
  }
  .folder-collapse-arrow {
    transition: 0.2s all ease;
  }
  .link-stats-inline {
    background-color: #f4f4f4;
    font-size: 14px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
  }
  .bg-primary {
    background-color: #ff4566 !important;
  }
  .folder-name-span,
  .link-name-a {
    font-size: 18px !important;
  }
  @media (max-width: 992px) {
    .index-header {
      padding: 0 5rem;
    }
    .index-container {
      height: 40rem;
      padding-bottom: 0rem;
    }
    .hero-img {
      margin-top: -100px;
    }
    .border-right-separater {
      border-right: 2px solid transparent;
    }
  }
  @media (max-width: 767px) {
    .container {
      padding: 10px 20px !important;
    }
    .cotainer {
      padding: 10px 20px !important;
    }
    .edit-link-header {
      margin-top: -20px;
    }
    .mt-8 {
      margin-top: 3rem !important;
    }
    .index-container {
      height: 40rem;
      padding: 22rem 0px;
    }
    .mob-reverse {
      display: flex;
      flex-direction: column-reverse;
    }
    .faq-question {
      width: 95%;
    }
    footer {
      text-align: center;
    }
    .footer-links-main {
      text-align: center;
    }
    .animate__animated.animate__fadeIn {
      background: transparent !important;
      position: static !important;
      /* padding-top: 0 !important; */
    }
    .flex-col:first-child {
      display: none;
    }
    .flex-col:last-child .card {
      width: 95%;
    }
    .flex-col:last-child {
      padding-top: 0rem;
    }
    .dashboard-heading {
      justify-content: flex-start;
      text-align: left;
      font-size: 26px;
      flex-wrap: wrap;
      padding: 20px;
      padding: 10px 20px !important;
    }
    .dashboard-heading img {
      width: 30px;
    }
    .dashboard-subheading {
      font-size: 18px;
      /* padding: 20px !important; */
      padding: 0px 20px !important;
    }
    .action-buttons {
      margin-top: 10px;
      padding: 12px 20px;
    }
  
    .nav-pill-actions-buttons-main {
      /* display:flex;
      justify-content:space-between; */
      /* margin:16px 0; */
    }
    .nav-pill-action-buttons {
      /* margin:0 !important;  */
    }
    /* .nav-pill-action-buttons a{
      font-weight: bold;
      font-size: 18px;
      padding:12px 20px;
      border: 1px solid rgba(0, 36, 164, 0.1);
      border-radius:10px;
  } */
  
    .nav-pill-action-buttons.active {
    }
  
    /* .nav-pill-action-buttons a.active {
      color:#FF4566;
      border: 1px solid rgba(0, 36, 164, 0.1);
  } */
  }
  
  @media (max-width: 550px) {
    .container {
      padding: 10px 20px !important;
    }
    .cotainer {
      padding: 10px 20px !important;
    }
    .mt-8 {
      margin-top: 1.5rem !important;
    }
    .mt-5 {
      margin-top: 1rem !important;
    }
    .index-header {
      font-size: 2.75rem;
      padding: 0 3rem;
    }
    .index-container {
      height: 40rem;
      padding: 12rem 0px;
    }
    .presentation-div {
      padding-right: 10px;
    }
    .presentation-div h2 {
      color: #000000;
      font-weight: bold;
      font-size: 1.8rem;
    }
    .mob-reverse {
      display: flex;
      flex-direction: column-reverse;
    }
    .faq-question {
      width: 95%;
    }
   
  .dashborad-mb .my-col-10 .h3
  {
    font-size: 14px;
  }
  
  
  
  .dashborad-mb .my-col-10 .align-middle
  {
    font-size: 12px;
  }
  
  
  
  
  .dashborad-mb .my-col-2  .user-avatar {
    width: 100%;
  }
  
  .dashborad-mb .btn
  {
    padding: 10px 26px;
  }
  
  .right-line::after
  {
    display: none;
  }
  
  .nav-pill-action-buttons
  {
    padding: 0px !important; 
    width: 30%;
  }
  
  
  
  
    footer {
      text-align: center;
    }
    .footer-links-main {
      text-align: center;
    }
    footer {
      height: auto;
    }
  
    .nav-pill-action-buttons {
      margin: 0 !important;
      display: flex;
      /* flex:1; */
    }
    /* .nav-pill-action-buttons a{
      font-weight: bold;
      font-size: 15px;
      padding:12px 14px;
      border: 1px solid rgba(0, 36, 164, 0.1);
      border-radius:10px;
      flex:1;
  } */
  
    .nav-pill-action-buttons.active {
    }
  
    /* .nav-pill-action-buttons a.active {
      color:#FF4566;
      border: 1px solid rgba(0, 36, 164, 0.1);
  } */
    .folder-name-span,
    .link-name-a {
      font-size: 16px !important;
    }
  
    .account-form
  {
    background: white;
    width: 100% !important;
    border-radius: 0px !important;
  }
  
  }
  
  .create-link-btn,.edit-books {
    font-size: 14px;
  }
  .btn-primary-light {
    background: #ffeaee;
    color: #FF1451;
    font-size: 18px;
    font-weight: 600 !important;
  }
  .btn-primary-light:hover {
    color: #ff5472;
  }
  .btn-theme-block {
    width: 100%;
    padding: 16px 0;
  }
  .alert-success {
    background: rgba(254, 20, 81, 0.2);
    color: #FF1451;
    border-color: transparent;
  }
  .btn-outline-primary:hover {
    background-color: #FF1451;
    border-color: #FF1451;
  }
  .daterangepicker .ranges li.active {
    background-color: #FF1451 !important;
  }
  .daterangepicker td.active,
  .daterangepicker td.active:hover {
    background-color: #FF1451 !important;
  }
  .alert.alert-info.animate__animated.animate__fadeInDown {
    display: none;
  }
  
  .theme-color
  {
  background: #FF1451;
  }
  
  .v2-border-radius
  {
    border-radius:57px !important;
  }
  .theme-main-right{
    display:flex;
    flex-wrap:wrap;
    }
    .theme-main-right .theme-selection-div{
    flex-basis:20%;
    }
    .theme-main-left .theme-selection-div .theme-selection-indiv {
     height:100% !important;
     display:flex;
     /* margin:0 !important; */
     display: flex;
     justify-content: center;
     align-items: center;
    }
    .themes-selection div div span{
    border-radius:10px;
    cursor:pointer;
    width:100%;
    /* margin-right:10px; */
    height:150px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:space-around;
    flex-direction: column;
    }
    .theme-selection-div{
    padding:5px;
    }
    .theme-selection-indiv{
    background-color:#F1F1F1;
    border-radius:20px;
    padding:16px 10px;
    border:2px solid transparent !important;
    }
    .theme-selection-indiv.selected-theme{
        border:2px solid #FF4566 !important;
    }
    .themes-selection div span img{
    width:200px;
    }
    .themes-selection div span small{
    font-size:14px;
    font-weight:700;
    }
    .selected-theme .theme-color-circular-div{
    /* border:2px solid #FF4566 !important; */
    }
  .theme-color-circular-div {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    box-sizing: border-box;
    /* border: 2px solid rgba(29, 3, 3, 0.1); */
  }
  span[data-bg="group1"] div {
    background: #DDDDDD;
  }
  span[data-bg="group2"] div {
    background: #ffffff;
  }
  span[data-bg="group3"] div {
    background: #E8E0FE;
    padding:10px 0;
    /* overflow: hidden; */
  }
  
  span[data-bg="group3"] div .half-bg-div{
    width: 45%;
    float: right;
    margin-right:8px;
    background-color: white;
    border-radius: 20px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 100%;
  }
  span[data-bg="group4"] div {
    background: #FFE8E8;
    padding:10px 0;
  }
  span[data-bg="group4"] div .half-bg-div{
    width: 45%;
    float: right;
    margin-right:8px;
    background-color: white;
    border-radius: 20px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 100%;
  }
  span[data-bg="group5"] div {
    background: #fff7e7;
  }
  span[data-bg="group13"] div {
    background: #EDFFF4;
    padding:10px 0;
  }
  span[data-bg="group13"] div .half-bg-div{
    width: 45%;
    float: right;
    margin-right:8px;
    background-color: white;
    border-radius: 20px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 100%;
  }
  span[data-bg="group6"] div {
    background: #EDF6FF;
    padding:10px 0;
  }
  span[data-bg="group6"] div .half-bg-div{
    width: 45%;
    float: right;
    margin-right:8px;
    background-color: white;
    border-radius: 20px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 100%;
  }
  span[data-bg="group7"] div {
    background: #1D202E;
  }
  span[data-bg="group8"] div {
    background: #AA59FB;
    padding:10px 0;
  }
  span[data-bg="group8"] div .half-bg-div{
    width: 45%;
    float: right;
    margin-right:8px;
    background-color: #9734FA;
    border-radius: 20px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 100%;
  }
  span[data-bg="group9"] div {
    background: #e31b40;
    background: -moz-linear-gradient(left, #e31b40 50%, #1b1c1e 50%);
    background: -webkit-linear-gradient(left, #e31b40 50%, #1b1c1e 50%);
    background: linear-gradient(to right, #e31b40 50%, #1b1c1e 50%);
  }
  span[data-bg="group10"] div {
    background: #FF6376;
    padding:10px 0;
  }
  span[data-bg="group10"] div .half-bg-div{
    width: 45%;
    float: right;
    margin-right:8px;
    background-color: #FF2358;
    border-radius: 20px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 100%;
  }
  span[data-bg="group11"] div {
    background: #2F8869;
    padding:10px 0;
  }
  span[data-bg="group11"] div .half-bg-div{
    width: 45%;
    float: right;
    margin-right:8px;
    background-color: #06714C;
    border-radius: 20px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 100%;
  }
  span[data-bg="group12"] div {
    background: #53A4F6;
    padding:10px 0;
  }
  span[data-bg="group12"] div .half-bg-div{
    width: 45%;
    float: right;
    margin-right:8px;
    background-color: #218AF3;
    border-radius: 20px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 100%;
  }
  @media(max-width:992px){
    .theme-color-circular-div{
    width:80px;
    height:80px;
    }
    #step_form > div.row.themes-selection > div.theme-main-left.col-lg-2.pr-0.pl-0.pr-lg-1 > div > div > span{
        height:120px;
    }
    .theme-main-right .theme-selection-div{
    flex-basis:25%;
    }
  }
  @media(max-width:767px){
    .theme-main-right .theme-selection-div{
    flex-basis:33%;
    }
  }
  @media(max-width:550px){
    .theme-color-circular-div{
    width:70px;
    height:70px;
    }
    .themes-selection div span{
    height:90px;
    }
  }
  .input {
    overflow: hidden;
  }
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 16px !important;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    select,
    textarea,
    input {
      font-size: 16px !important;
    }
    
  }
  
  
  @media (min-width: 1300px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
      max-width: 1240px;
    }
  }
  @media (min-width: 1400px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
      max-width: 1340px;
    }
  }
  @media (min-width: 1500px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
      max-width: 1440px;
    }
  }
  
  .dropdown-menu {
    width: 200px !important;
    border-radius: 13px !important;
    border: none !important;
    box-shadow: 0.5px 0.5px 10px rgb(0 0 0 / 10%) !important;
    padding: 10px !important;
  }
  .new-menu-dropdown-item {
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-size: 16px !important;
    padding: 10px;
    margin: 2px 0;
  }
  .new-menu-dropdown-item:hover {
    background-color: #f4f4f4;
  }
  .dropdown-item.active,
  .dropdown-item:active {
    color: #000 !important;
    text-decoration: none !important;
    background-color: #f4f4f4 !important;
  }
  .copy-btn {
    background: #f4f4f4;
    border-radius: 50px;
    font-size: 14px;
    text-align: center;
    padding: 10px 20px;
    font-weight: 600;
    transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
  }
  .copy-btn:hover {
    background: #f0f0f0;
  }
  
  .folder-main-card {
    background-color: white !important;
  }
  .add-folder-btn {
    width: 100%;
    font-size: 14px;
    height: 45px;
    border-radius: 30px !important;
  }
  .folders-links-section {
    min-height: 80vh;
  }
  @media (max-width: 992px) {
    .dropdown-menu.dropdown-menu-right {
      display: block !important;
      width: 100% !important;
      box-shadow: none !important;
      border-radius: 0 !important;
      border-top: 1px solid #f4f4f4 !important;
    }
    .nav-link.dropdown-toggle {
      display: none;
    }
    .new-link-page-mobile-menu {
      display: block !important;
    }
    .link-editor-main-nav {
      /* display: none; */
    }
    .edit-link-header .container .row {
      flex-direction: column-reverse;
    }
    .my_profile_link_text {
      padding: 10px 15px !important;
    }
    .copy-btn {
      font-size: 12px;
      padding: 6px 12px;
    }
  }
  @media (max-width: 767px) {
    .first-container {
      padding: 0 !important;
    }
    #navbar {
      padding: 0 !important;
    }
    .navbar-nav .dropdown {
      padding: 0 !important;
    }
    .dropdown-menu.dropdown-menu-right {
      padding: 0 !important;
    }
    .links_sortables {
      padding-left: 0 !important;
    }
    .folder-name-div {
      padding: 0;
    }
    .edit-folder-btn {
      margin-right: 10px !important;
    }
    .edit-folder-btn svg {
      width: 15px;
      height: 15px;
    }
    .create-link-btn,.edit-books {
      margin-left: 10px !important;
    }
    .folder-delete-btn svg {
      width: 15px;
      height: 15px;
    }
    .folder-name-div span svg {
      width: 22px;
      height: 22px;
      margin-left: 5px;
    }
    .folder .custom-row .custom-row-side-controller span svg {
      width: 15px;
      height: 15px;
    }
    .folder-name-span {
      margin-left: -5px;
      font-size: 16px !important;
    }
    .link .card-body .d-flex .d-flex .d-flex span svg {
      width: 22px;
      height: 22px;
    }
    .link .card-body .d-flex .d-flex .custom-row-side-controller span svg {
      width: 15px;
      height: 15px;
    }
    .link-name-a {
      margin-left: -5px;
      font-size: 16px !important;
    }
    .edit-link-btn svg,
    .delete-link-btn svg {
      width: 17px;
      height: 17px;
    }
    .folder-main-card {
      background-color: transparent !important;
    }
  }
  @media (min-width: 767px) {
    .biolink-preview-container-main {
      margin-top: 20px !important;
    }
    .folders-links-section {
      max-height: 83vh;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .link-editor-main {
      padding-bottom: 20px !important;
    }
    .folders-links-section::-webkit-scrollbar {
      width: 0.3em;
      border-radius: 10px;
    }
    .folders-links-section::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }
    .folders-links-section::-webkit-scrollbar-thumb {
      background-color: #d3d3d3;
      border-radius: 10px;
    }
  }
  .growl-notification--image {
    width: 320px !important;
  }
  
  /*  znaplink 2.0  */
  /* .modal-blur-bg{
    width: 100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);   
  } */
  body.modal-open main,body.modal-open nav{
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
  }
  .create-biolink-heading{
    font-size:26px;
  }
  .create-biolink-header{
    padding:1rem;
    padding-bottom:0.2rem;
  }
  .create-biolink-subheader{
    font-size: 13px;
  }
  input.form-control,textarea.form-control{
    background-color:#F7F7F8;
    border-radius: 16px;
    color:rgba(14, 18, 59, 0.8) !important;
    padding: 0.9rem 0.75rem;
    height:auto !important;
    font-size:0.8rem;
  }
  input.form-control:focus,textarea.form-control:focus{
    color:rgba(14, 18, 59, 0.8) !important;
    background-color:#F7F7F8;
  }
  .btn-grey{
    background-color: #F7F7F8;
    font-weight:500;
    font-size:16px;
  }
  .btn-grey:hover{
    background-color: #eeeeee;
  }
  .btn-rounded{
    border-radius: 50px;
    padding:8px;
  }
  #create_biolink_link .modal-content,#create_biolink_link_step2 .modal-content,#create_new_block .modal-content,#create_folder .modal-content,#create_email_widget .modal-content,#create_books_widget .modal-content,#update_books_widget .modal-content,#new_link_modal .modal-content{
    border-radius: 2.2rem !important;
  }
  @media(max-width:767px){
    #create_biolink_link .modal-content,#create_biolink_link_step2 .modal-content,#create_new_block .modal-content,#create_folder .modal-content,#create_email_widget .modal-content,#create_books_widget .modal-content,#update_books_widget .modal-content,#new_link_modal .modal-content{
      padding:1rem 0.2rem;
    }
  }
  .link-card {
    width: 240px;
    /* height: 180px; */
    /* padding: 10px 10px; */
    padding-left: 5px;
    margin:0 auto;
  }
  .link-card a {
    border-radius: 25px;
    padding: 10px;
    min-height: 290px;
    max-height: 290px;
  }
  .link-btn-rounded {
    border-radius: .3rem;
  }
  .link-btn {
    position: relative;
    white-space: normal;
    word-wrap: break-word;
    padding: 1rem 4.5rem;
    font-size: 1.1rem;
    box-shadow: 0px 0px 15px #00008024;
    border: 0;
    transition: opacity 0.3s, background 0.3s;
    border-radius: 0;
  }
  .link-img-div2 {
    width: 100%;
    /* height: 151px; */
    background-color: #F6F6F6;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  /* .link-img-div img {
    width: 100%;
    min-height: 100%;
  } */
  .link-title2 {
    font-size: 14px;
    margin: 15px 0;
    font-weight: 600;
    text-align: left;
    margin-bottom: 7px;
  }
  .link-description2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #404762;
    font-size: 11px;
    line-height: 15px;
    text-align: left;
    max-height: 30px;
    /* background: red; */
    overflow:hidden;
  }
  .div-block-3422 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin-top: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 14px;
    background-color: #F6F6F6;
    position: absolute;
    bottom: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 600;
  }
  .link-btn-image2{
    width: 100%;
    background: url('https://searchengineland.com/figz/wp-content/seloads/2015/12/google-amp-fast-speed-travel-ss-1920.jpg') no-repeat center;
    background-size: cover;
    padding-top:56.25%;
  }
  
  .right-line
  {
    height: 100%;
    border-right:1px solid rgba(0, 0, 0, 0.1);
  
  }
  
  body
  {
    background:  #FBFBFB !important;
  }
  
  .account-form
  {
    background: white;
    border-radius: 35px;
    width: 45%;
    margin: 0px auto;
  
  }
  
  .account-form .acount-header
  {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(14, 18, 59, 0.1);
    margin-bottom: 30px;
  }
  
  .account-form .form-control
  {
    border: none;
    background: #F7F7F8;
    font-weight: 700;
    color: #20212b;
    border-radius: 20px;
    height: 50px;
  }
  
  .form-control
  {
    border: none;
    background: #F7F7F8;
    font-weight: 700;
    color: #20212b;
    border-radius: 20px;
   
  }
  
  
  .account-form label
  {
  color: rgba(14, 18, 59, 0.25);
  font-weight: bold;
  }
  
  .account-form .btn-primary
  {
  width: 100%;
  border-radius: 35px;
  padding: 10px;
  }
  
  .steps_register .form-group label
  {
    color: #0E123B;
    font-weight: bold;
  }
  
  
  .steps_register .skip-btn
  {
    color: rgba(14, 18, 59, 0.25);
    font-weight: bold;
    font-size: 14px;
  }
  .steps_register .back-btn
  {
    color: rgba(14, 18, 59, 0.25);
    font-weight: bold;
    font-size: 14px;
  }
  
  .upload--profile
  {
    background: #0000005e;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0px auto;
    /* display: none; */
    position: absolute;
    /* padding: 20px; */
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-cir
  {
    position: relative;
    text-align: center;
    display: inline-block;
    cursor: pointer;
  }
  
  
  .profile-cir:hover .upload--profile
  {
    display: flex;
  }
  .btn-primary
  {
    border-radius: 35px;
    border: none;
  }
  
  
  .forget-pass .btn-primary
  {
   border-radius: 35px;
   border: none;
   font-size: 14px;
   padding: 10px 0px;
  }
  
  .forget-pass .btn-primary:first-child
  {
    background: #F7F7F8;
    color: #0E123B;
    width: 40%;
    margin-right: 10px;
  
  }
  
  
  .link--page 
  {
  /* background: red; */
  }
  
  
  .link--page .nav-pill-action-buttons 
  { 
    margin-right: 10px !important;
  }
  
  .link--page .nav-pill-action-buttons a
  {
    background: #F7F7F8;
    color: #0E123B;
    border: none;
    padding: 10px 22px;
    border-radius: 35px;
    font-size: 14px;
  }
  
  
  .link--page .nav-pill-action-buttons a.active {
    color: #0E123B;
    border: none;
    background: #EBEBEB;
  }
  
  .custom-text--muted
  {
    font-weight: bold;
    color: #C2C3CE;
    
  }
  
  /* new blocks css */
  
  .new-block-main-div{
    width: 100%;
    /* height: 200px; */
    /* background: red; */
  }
  @media(max-width:576px){
    .new-block-main-div{
      flex-wrap: wrap;
    }
  }
  .new-block-div{
    padding:10px;
    cursor: pointer;
  }
  .new-block-div img{
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
    border-radius: 20px;
    border:2px solid transparent;
    box-shadow: 0.5px 0.5px 15px #f2f2f2,-0.5px -0.5px 15px #f2f2f2;
  }
  .new-block-div img:hover{
    transform: scale(1.05);
    box-shadow: 0.5px 0.5px 5px #f3f3f3,-0.5px -0.5px 5px #f3f3f3;
  }
  .new-block-div img:active{
    border:2px solid #FF1451;
  }
  .new-block-div img.active{
    border:2px solid #FF1451;
  }
  .full-page-loader{
    width: 100%;
    height:100%;
    position: fixed;
    z-index: 111111;
    display: flex;
    padding-top: 20%;
    justify-content: center;
    background: rgba(255,255,255,0.5);
  }
  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #FF1451;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  
  .dashborad-mb .my-col-2 
  {
    width: 10%;
    padding: 0px 12px;
  }
  
  .dashborad-mb .my-col-10
  {
    width: 90%;
  }
  
  
  .min-text
  {
    overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      width: 70%;
  }
  
  .form-control::placeholder
  {
    color: rgba(14, 18, 59, 0.25);
  }
  
  input:-webkit-autofill
  {
   /* -webkit-text-fill-color: red !important; */
   -webkit-box-shadow: 0 0 0 30px #F6F6F6 inset !important;
  }
  .link-title{
    overflow-wrap: anywhere;
  }
  .books-selection-main,.books-selection-main-update{
    width: 100%;
    height:250px;
    overflow: auto;
  }
  .books-selection,.books-selection-update{
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
  }
  .books-selection-main::-webkit-scrollbar,
  .books-selection-main-update::-webkit-scrollbar {
    width: 0.2em;
  }
   
  .books-selection-main::-webkit-scrollbar-track, .books-selection-main-update::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #F7F7F8;
  }
   
  .books-selection-main::-webkit-scrollbar-thumb,.books-selection-main-update::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    outline: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .book-div{
    flex-basis:25%;
    padding:7px;
  }
  .book-indiv{
    width: 100%;
    height:100px;
    border-radius:16px;
    background-color: #F7F7F8;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:2px solid transparent;
  }
  .book-indiv.active{
    border:2px solid #FF1451;
  }
  .book-indiv img{
    width: 60px;
    max-height:80px;
  }
  .book-search-bar{
    width: 100%;
    height:40px;
    /* background-color: red; */
    margin-bottom:15px;
    border:1px solid #d3d3d3;
    border-radius:50px;
    display: flex;
    align-items: center;
    padding:0 10px;
  }
  #book-search-input,#book-search-input-update{
    /* background-color: red; */
    border:none;
    outline:none;
    font-size: 16px;
    padding:0 5px;
    flex:1;
  }
  #book-search-input::placeholder,#book-search-input-update::placeholder{
    color:#d3d3d3;
    font-size:14px;
  }
  .newly-created-link{
    background: -webkit-linear-gradient(right,#FE5834, #FE34A1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  .books-selected-main,.books-selected-main-update{
    width: 100%;
    padding:10px 0;
    margin-bottom: 5px;
    /* height: 100px; */
    /* background-color: red; */
  }
  .books-selected-indiv,.books-selected-indiv-update{
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
  }
  .books-selected-indiv .book-div,.books-selected-indiv-update .book-div{
    flex-basis: 18%;
    animation: shake 1s;
    animation-iteration-count: infinite;
    position: relative;
  }
  @keyframes shake {
    0% { transform: rotate(0deg); }
    10% { transform:  rotate(-1deg); }
    20% { transform:  rotate(1deg); }
    30% { transform: rotate(0deg); }
    40% { transform:  rotate(1deg); }
    50% { transform:  rotate(-1deg); }
    60% { transform:  rotate(0deg); }
    70% { transform: rotate(-1deg); }
    80% { transform:  rotate(1deg); }
    90% { transform: rotate(0deg); }
    100% { transform:  rotate(-1deg); }
  }
  .books-selected-indiv .book-div .book-indiv,.books-selected-indiv-update .book-div .book-indiv{
    height: 80px;
  }
  .books-selected-indiv .book-div .book-indiv img,.books-selected-indiv-update .book-div .book-indiv img{
    width: 40px;
    max-height: 65px;
  }
  .books-selected-indiv::-webkit-scrollbar,
  .books-selected-indiv-update::-webkit-scrollbar {
    height: 0.3em;
  }
   
  .books-selected-indiv::-webkit-scrollbar-track, .books-selected-indiv-update::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #F7F7F8;
  }
   
  .books-selected-indiv::-webkit-scrollbar-thumb,.books-selected-indiv-update::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    outline: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .books-selected-indiv-update::-webkit-scrollbar,
  .books-selected-indiv-update-update::-webkit-scrollbar {
    height: 0.3em;
  }
   
  .books-selected-indiv-update::-webkit-scrollbar-track, .books-selected-indiv-update-update::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #F7F7F8;
  }
   
  .books-selected-indiv-update::-webkit-scrollbar-thumb,.books-selected-indiv-update-update::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    outline: 1px solid rgba(0, 0, 0, 0.1);
  }
  .delete-selected{
    position: absolute;
    background: red;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: white;
    transform: translate(30px, -35px);
    font-size: 11px;
    padding: 0;
    margin: 0;
  }